.item {
  border: 1px solid black;
  padding: 8px;
  margin: 8px;
  box-shadow: 1px 1px 1px grey;
  max-width: 600px;
  display: flex;
  align-items: center;
}

.item-name, .item-price, .item-id {
  margin-right: 16px;
}

.item-image {
  margin-right: 4px;
}

