<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<title> Ragnarok Market Place </title>
  <h2> Insert the item id you want and the desired price </h2>
  <form action="{{  url_for('add_item') }}" method="post">
    <label for="item">Item</label>
    <input name="item" id="item" required>
    <input type="submit" value="Enviar">
  </form>
<div>
  <h3> All previously added items </h3>
    {%- for item in items %}
      <div class="item">
        <img src="{{item.image}}" class="item-image" />
        <span class="item-name">
          {{ item.name }} 
        </span>
        <span class="item-price">
          Price: {{ item.price }}
        </span>
        <span class="item-id">
          Id: {{ item.item_id }}
        </span>
      </div>
    {%- endfor %}
</div>
